html,
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

body { padding-top: 4.5rem; }

nav {
  background-color: #fff;
  border-bottom: 1px solid #044da1;
  font-weight: 700;
}

hr { background-color: #009ed9; }

h2, h3, h4 { font-weight: 700; }

h2,
h3,
span,
.collapse .navbar-nav a.nav-link:link,
.collapse .navbar-nav a.nav-link:visited {
  color: #044da1;
}

h4,
h3 span,
.collapse .navbar-nav a.nav-link:hover,
.collapse .navbar-nav a.nav-link:active {
  color: #009ed9;
}

.jumbo-bg {
  background-attachment: fixed;  
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/stadium.jpeg");
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 400px;
}

.btn-jumbo {
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
  color: #f8f9fa;
}

.btn-jumbo:hover {
  background-color: rgba(4, 77, 161, .5);
  color: #f8f9fa;
}

.copy { line-height: 2; }

.figure-caption { color: #212529; }

.group-logo { width: 80%; }

.partner-bg {
  background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../img/stadium2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.partner { padding: 7rem 0; }

img.group { width: 100%; }

.profile-bg {
  background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url("../img/hard-hat.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

button[type="submit"] {
  background-color: #044da1;
  border-color: #044da1;
  color: #fff;
  transition: background-color .5s;
}

button[type="submit"]:hover {
  background-color: #009ed9;
  border-color: #044da1;
}

button[type="submit"]:focus, button[type="submit"].focus { box-shadow: none; }

.social-icon i { padding-right: 1em; }

footer { background-color: #ddd; }

footer a,
footer p {
  color: #444;
}

footer a:hover { text-decoration: none; }

a .fa {
  color: #444;
  transition: color .2s;
}
a .fa-rss:hover { color: #044da1; }
a .fa-youtube-play:hover { color: #ff0000; }


/* Small devices (tablets, 768px and up) */
@media (max-width: 540px) { 
  h1.display-4.mt-3 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
  }

  img.logo-partner { width: 90%; }

  h4 { font-size: 95%; }

  h4+p,
  footer {
    font-size: 90%;
  }
}

/* Extra-small devices (iPhone SE) */
@media (max-width: 320px) {
  h1.display-4.mt-3 { font-size: 2.5rem; }

  footer { font-size: 80%; }
}

